mat-card{
  width: 70%;
  margin: 4rem auto;

  form{
    display: flex;
    flex-direction: column;

    .dates{
      display: flex;

      :first-child{
        margin-right: auto;
      }

      mat-form-field{
        flex-basis: 40%;
      }
    }

    mat-form-field{
      margin: .5rem 0;
    }

    button{
      width: 50%;
      margin: .5rem auto;
      color: white;
    }
  }
}
