


<!-- THIS FOR SHOULD BE FOR EDIT MODE, WILL HAVE TO ADJUST THE VALUE MAYBE BECAUSE USES NGFOR TO LOOP THROUGH ALL ITEMS,
AND EDIT WOULD BE ON AN INDIVIDUAL ITEM -->

<!-- <mat-card *ngFor="let item of items">
  <form [formGroup]="form" (submit)="onSaveItem()" color="primary">
    <mat-form-field class="date-picker">
      <input matInput [matDatepicker]="picker" formControlName="date" name="date" [value]="item.date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="description" name="description" cols="30" rows="5" [value]="item.description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="cost" name="cost" type="text" [value]="item.cost">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="retail" name="retail" type="text" [value]="item.retail">
    </mat-form-field>

    <mat-form-field class="date-picker">
      <input matInput [matDatepicker]="pickerSold" formControlName="soldDate" name="soldDate" placeholder="Sold date">
      <mat-datepicker-toggle matSuffix [for]="pickerSold"></mat-datepicker-toggle>
      <mat-datepicker touchUi #pickerSold></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="soldPrice" name="soldPrice" type="text" placeholder="Sold price" [disabled]="true">
    </mat-form-field>


    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</mat-card> -->

<!--  [ngStyle]="getColor(item.cost, item.soldDate)"}-->

<mat-card *ngFor="let item of items">
  <div>
    <mat-card-header>
      Date
    </mat-card-header>
    <p>
      {{ item.date.getMonth() + 1 }}/{{item.date.getDate() }}/{{ item.date.getFullYear() }}
    </p>
  </div>
  <div>
    <mat-card-header>
      Description
    </mat-card-header>
    <p>
      {{ item.description }}
    </p>
  </div>
  <div>
    <mat-card-header>
      Cost
    </mat-card-header>
    <p>
      {{ item.cost }}
    </p>
  </div>
  <div>
    <mat-card-header>
      Retail
    </mat-card-header>
    <p>
      {{ item.retail }}
    </p>
  </div>
  <div>
    <mat-card-header>
      Sold Date
    </mat-card-header>
    <p>
      {{ item.soldDate.getMonth() + 1 }}/{{item.soldDate.getDate() }}/{{ item.soldDate.getFullYear() }}
    </p>
  </div>
  <div>
    <mat-card-header>
      Sold Price
    </mat-card-header>
    <p>
      {{ item.soldPrice }}
    </p>
  </div>
  <div class="buttons">
    <button mat-button color="primary">Edit</button>
    <button mat-button color="warn">Delete</button>
  </div>
</mat-card>
