// classes defined for styles that should be defined as variables in theme.scss, need to try to figure out

.primary{
    background-color: #A5D6A7;
    color: #EEEEEE;

    .edit-btn{
      color: #EEEEEE;
    }
}

.accent{
  background-color: #EEEEEE;
}

.warn{
  background-color: #EF9A9A;
  color: #EEEEEE;

  .delete-btn{
    color: #EEEEEE;
  }
}

mat-card{
  margin-top: 2rem;

  .main-info{
    display: flex;
    justify-content: space-around;

    div{
      flex: 1 1 0;

      mat-card-header{
        font-size: 1.8rem;
        flex-direction: column;
        text-decoration: underline;
      }
    }

    .buttons{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
}

  .calculated-amount{
      text-align: center;
      font-size: 2rem;
      margin-top: 1rem;
    }

  .info-paragraph{
    text-align: center;
    padding: 3rem 0;
   }
}
