/* You can add global styles to this file, and also import other style files */

*{
  font-family: 'Baskervville' , serif !important;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
  }

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  margin: 0;
  }
